.wrapper {
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.box {
    width: 100px;
    padding: 4px;
    background-color: #ffd0ad;
    float: left;
    margin: 5px;
    font-weight: normal;
    text-align: left;
}

.box.dragging {
    visibility: hidden;
}

.table th {
    background-color: #ffd446;
    height: 30px;
    width: 150px;
    overflow: hidden;
}

.table th,
.table td {
    border: 1px solid gray;
}